.list {
    &__add-popup {
        width: 240px;
        height: 150px;
        background-color: #fff;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 18px;
        position: relative;
        top: -25px;
        left: 10px;
    }

    &__add-input {
        width: 100%;
        background-color: #fff;
        border: 1px solid #efefef;
        border-radius: 4px;
        padding: 8px 12px;

        &:focus {
            border-color: #dbdbdb;
        }
    }

    &__popup-colors {
        margin-top: 14px;
        display: flex;
        justify-content: space-between;
    }

    &__popup-close-btn {
        position: absolute;
        right: -8px;
        top: -5px;
        cursor: pointer;
    }
}

.button {
    width: 100%;
    margin-top: 10px;
}

.badge {
    width: 20px;
    height: 20px;
    cursor: pointer;

    &.active {
        border: 2px solid #525252;
    }

    &--green {
        background-color: #42b883;
    }

    &--blue {
        background-color: #64c4ed;
    }

    &--pink {
        background-color: #ffbbcc;
    }

    &--grey {
        background-color: #c9d1d3;
    }

    &--lime {
        background-color: #b6e6bd;
    }

    &--purple {
        background-color: #c355f5;
    }

    &--black {
        background-color: #110133;
    }

    &--red {
        background-color: #ff6464;
    }
}
